<h1> Add a New Movie </h1>

<form action="/movies/movie_create">
  <div>
    <label for="title">Title:</label>
  <input id="title" type="text" name="title">
  </div>
  <div>
    <label for="year">Year:</label>
    <input id="year" type="text" name="year">
  </div>
  <div>
    <label for="dur">Duration:</label>
    <input id="dur" type="text" name="dur">
  </div>
  <div>
    <label for="desc">Description:</label>
    <input id="desc" type="text" name="desc">
  </div>
  <div>
    <label for="image_urlg_url">Picture:</label>
    <input id="image_url" type="text" name="image_url">
  </div>

  <div>
    <button>Create Movie</button>
  </div>
</form>
